# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate the total number of schools
school_count = (len(school_data_complete["school_name"].unique()))
school_count

15

In [3]:
#Total Number of students
total_students = (school_data_complete["student_name"].count())
total_students

39170

In [4]:
#Calculate the total budget
budget = school_data["budget"].sum()
budget

24649428

In [5]:
#Calculate the average math score
avg_math = school_data_complete["math_score"].mean()
avg_math

78.98537145774827

In [6]:
#Calculate the average reading score
avg_read = school_data_complete["reading_score"].mean()
avg_read

81.87784018381414

In [7]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_pass = (avg_math + avg_read)/2
overall_pass

80.43160582078121

In [8]:
#Calculate the percentage of students with a passing math score (70 or greater)
math_pass =(school_data_complete["math_score"].astype(float) >=70).sum()

math_percent_pass = (math_pass/total_students)*100

math_percent_pass

74.9808526933878

In [9]:
#Calculate the percentage of students with a passing reading score (70 or greater)
read_pass =(school_data_complete["reading_score"].astype(float) >=70).sum()

read_percent_pass = (read_pass/total_students)*100

read_percent_pass

85.80546336482001

In [10]:
schooldatasummary= pd.DataFrame({"Total Schools" :[school_count], "Total Students": [total_students], "Total Budget": [budget],
                          "Average Math Score":[avg_math],"Average Reading Score": [avg_read], 
                           "% Math Passing":[math_percent_pass],"% Passing Reading": [read_percent_pass],
                           "% Overall Passing Rate":[overall_pass]})
                         
schooldatasummary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Math Passing,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [11]:
#Sort and display the top five schools in overall passing rate

#top_five =top_five.reset_index(inplace=True)

In [12]:
school_name = school_data_complete["school_name"].unique()
school_name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [13]:
school_type = school_data_complete.set_index(["school_name"])["type"]

school_type.head(3)

school_name
Huang High School    District
Huang High School    District
Huang High School    District
Name: type, dtype: object

In [14]:
student_count= school_data_complete["school_name"].value_counts()
student_count.head(2)

Bailey High School     4976
Johnson High School    4761
Name: school_name, dtype: int64

In [15]:
school_budget_total= school_data_complete.groupby(["school_name"]).mean()["budget"]
school_budget_total.head(2)

school_name
Bailey High School     3124928.0
Cabrera High School    1081356.0
Name: budget, dtype: float64

In [16]:
per_student_budget = (school_budget_total/student_count)
per_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [17]:
school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [18]:
school_read = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
school_read

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [19]:
overall_school_pass = (school_math + school_read)/2
overall_school_pass

school_name
Bailey High School       79.041198
Cabrera High School      83.518837
Figueroa High School     78.934893
Ford High School         78.924425
Griffin High School      83.584128
Hernandez High School    79.112082
Holden High School       83.809133
Huang High School        78.906068
Johnson High School      79.019429
Pena High School         83.942308
Rodriguez High School    78.793698
Shelton High School      83.542589
Thomas High School       83.633639
Wilson High School       83.631844
Wright High School       83.818611
dtype: float64

In [20]:

passing_math = school_data_complete[school_data_complete["math_score"]>=70]
total = school_data_complete.groupby(["school_name"]).count()["student_name"]
passing_math.groupby(["school_name"]).count()
perc_math = passing_math.groupby(["school_name"]).count()["student_name"] / school_data_complete.groupby(["school_name"]).count()["student_name"]*100
perc_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: student_name, dtype: float64

In [21]:
passing_math = school_data_complete[school_data_complete["reading_score"]>=70]
total = school_data_complete.groupby(["school_name"]).count()["student_name"]
passing_math.groupby(["school_name"]).count()
perc_reading = passing_math.groupby(["school_name"]).count()["student_name"] / school_data_complete.groupby(["school_name"]).count()["student_name"]*100
perc_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: student_name, dtype: float64

In [22]:
school_name = school_data_complete["school_name"].unique()


student_count= school_data_complete["school_name"].value_counts()

school_budget_total= school_data_complete.groupby(["school_name"]).mean()["budget"]

per_student_budget = (school_budget_total/student_count)

school_type = school_data.set_index(["school_name"])["type"]


school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]

school_read = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

overall_school_pass = (school_math + school_read)/2

passing_math = school_data_complete[school_data_complete["math_score"]>=70]

total = school_data_complete.groupby(["school_name"]).count()["student_name"]



perc_math = passing_math.groupby(["school_name"]).count()["student_name"] / school_data_complete.groupby(["school_name"]).count()["student_name"]*100

passing_reading = school_data_complete[school_data_complete["reading_score"]>=70]

total = school_data_complete.groupby(["school_name"]).count()["student_name"]



perc_reading = passing_math.groupby(["school_name"]).count()["student_name"] / school_data_complete.groupby(["school_name"]).count()["student_name"]*100





new_school_summary = pd.DataFrame({"School Type" :school_type, 
                                   "Total Students": student_count,
                                   "Total School Budget": school_budget_total,
                                   "Per Student Budget": per_student_budget,
                                  "Average Math Score":school_math, 
                                   "Average Reading Score":school_read,
                                  "% Math Passing" : perc_math, 
                                   "% Reading Passing": perc_reading, 
                                   "% Overall Passing Rate":overall_school_pass
                                  })

new_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Math Passing,% Reading Passing,% Overall Passing Rate
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,66.680064,79.041198
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,94.133477,83.518837
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,65.988471,78.934893
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,68.309602,78.924425
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,93.392371,83.584128
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,66.752967,79.112082
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,92.505855,83.809133
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,65.683922,78.906068
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,66.057551,79.019429
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,94.594595,83.942308
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,66.366592,78.793698
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,93.867121,83.542589
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,93.272171,83.633639
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,93.867718,83.631844
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,93.333333,83.818611

In [23]:
top_school = new_school_summary.sort_values(["% Overall Passing Rate"], ascending =False)

top_school.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Math Passing,% Reading Passing,% Overall Passing Rate
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,94.594595,83.942308
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,93.333333,83.818611
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,92.505855,83.809133
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,93.272171,83.633639
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,93.867718,83.631844

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [24]:
bottom_school = new_school_summary.sort_values(["% Overall Passing Rate"], ascending =True)

bottom_school.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Math Passing,% Reading Passing,% Overall Passing Rate
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,66.366592,78.793698
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,65.683922,78.906068
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,68.309602,78.924425
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,65.988471,78.934893
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,66.057551,79.019429

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [25]:
grade_9 = round(school_data_complete[school_data_complete["grade"] == "9th"].groupby(["school_name"]).mean()["math_score"],2)
grade_9

school_name
Bailey High School       77.08
Cabrera High School      83.09
Figueroa High School     76.40
Ford High School         77.36
Griffin High School      82.04
Hernandez High School    77.44
Holden High School       83.79
Huang High School        77.03
Johnson High School      77.19
Pena High School         83.63
Rodriguez High School    76.86
Shelton High School      83.42
Thomas High School       83.59
Wilson High School       83.09
Wright High School       83.26
Name: math_score, dtype: float64

In [26]:
grade_10 = round(school_data_complete[school_data_complete["grade"] == "10th"].groupby(["school_name"]).mean()["math_score"],2)
grade_10

school_name
Bailey High School       77.00
Cabrera High School      83.15
Figueroa High School     76.54
Ford High School         77.67
Griffin High School      84.23
Hernandez High School    77.34
Holden High School       83.43
Huang High School        75.91
Johnson High School      76.69
Pena High School         83.37
Rodriguez High School    76.61
Shelton High School      82.92
Thomas High School       83.09
Wilson High School       83.72
Wright High School       84.01
Name: math_score, dtype: float64

In [27]:
grade_11 = round(school_data_complete[school_data_complete["grade"] == "11th"].groupby(["school_name"]).mean()["math_score"],2)
grade_11

school_name
Bailey High School       77.52
Cabrera High School      82.77
Figueroa High School     76.88
Ford High School         76.92
Griffin High School      83.84
Hernandez High School    77.14
Holden High School       85.00
Huang High School        76.45
Johnson High School      77.49
Pena High School         84.33
Rodriguez High School    76.40
Shelton High School      83.38
Thomas High School       83.50
Wilson High School       83.20
Wright High School       83.84
Name: math_score, dtype: float64

In [28]:
grade_12 = round(school_data_complete[school_data_complete["grade"] == "12th"].groupby(["school_name"]).mean()["math_score"],2)
grade_12

school_name
Bailey High School       76.49
Cabrera High School      83.28
Figueroa High School     77.15
Ford High School         76.18
Griffin High School      83.36
Hernandez High School    77.19
Holden High School       82.86
Huang High School        77.23
Johnson High School      76.86
Pena High School         84.12
Rodriguez High School    77.69
Shelton High School      83.78
Thomas High School       83.50
Wilson High School       83.04
Wright High School       83.64
Name: math_score, dtype: float64

In [29]:
math_score_by_grade = pd.DataFrame({ "9th":grade_9,"10th": grade_10,"11th": grade_11,"12th": grade_12  })
math_score_by_grade

                         9th   10th   11th   12th
school_name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

In [30]:
read_9 = round(school_data_complete[school_data_complete["grade"] == "9th"].groupby(["school_name"]).mean()["reading_score"],2)
read_9

school_name
Bailey High School       81.30
Cabrera High School      83.68
Figueroa High School     81.20
Ford High School         80.63
Griffin High School      83.37
Hernandez High School    80.87
Holden High School       83.68
Huang High School        81.29
Johnson High School      81.26
Pena High School         83.81
Rodriguez High School    80.99
Shelton High School      84.12
Thomas High School       83.73
Wilson High School       83.94
Wright High School       83.83
Name: reading_score, dtype: float64

* Perform the same operations as above for reading scores

In [31]:
read_10 = round(school_data_complete[school_data_complete["grade"] == "10th"].groupby(["school_name"]).mean()["reading_score"],2)
read_10

school_name
Bailey High School       80.91
Cabrera High School      84.25
Figueroa High School     81.41
Ford High School         81.26
Griffin High School      83.71
Hernandez High School    80.66
Holden High School       83.32
Huang High School        81.51
Johnson High School      80.77
Pena High School         83.61
Rodriguez High School    80.63
Shelton High School      83.44
Thomas High School       84.25
Wilson High School       84.02
Wright High School       83.81
Name: reading_score, dtype: float64

In [32]:
read_11 = round(school_data_complete[school_data_complete["grade"] == "11th"].groupby(["school_name"]).mean()["reading_score"],2)
read_11

school_name
Bailey High School       80.95
Cabrera High School      83.79
Figueroa High School     80.64
Ford High School         80.40
Griffin High School      84.29
Hernandez High School    81.40
Holden High School       83.82
Huang High School        81.42
Johnson High School      80.62
Pena High School         84.34
Rodriguez High School    80.86
Shelton High School      84.37
Thomas High School       83.59
Wilson High School       83.76
Wright High School       84.16
Name: reading_score, dtype: float64

In [33]:
read_12 = round(school_data_complete[school_data_complete["grade"] == "12th"].groupby(["school_name"]).mean()["reading_score"],2)
read_12

school_name
Bailey High School       80.91
Cabrera High School      84.29
Figueroa High School     81.38
Ford High School         80.66
Griffin High School      84.01
Hernandez High School    80.86
Holden High School       84.70
Huang High School        80.31
Johnson High School      81.23
Pena High School         84.59
Rodriguez High School    80.38
Shelton High School      82.78
Thomas High School       83.83
Wilson High School       84.32
Wright High School       84.07
Name: reading_score, dtype: float64

In [34]:
reading_score_by_grade = pd.DataFrame({ "9th":read_9,"10th": read_10,"11th": read_11,"12th": read_12  })
reading_score_by_grade

                         9th   10th   11th   12th
school_name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [1]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [309]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.