# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [182]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [183]:
#Calculate the total number of schools
school_count = (len(school_data_complete["school_name"].unique()))
school_count

15

In [184]:
#Total Number of students
total_students = (school_data_complete["student_name"].count())
total_students

39170

In [185]:
#Calculate the total budget
budget = school_data["budget"].sum()
budget

24649428

In [186]:
#Calculate the average math score
avg_math = school_data_complete["math_score"].mean()
avg_math

78.98537145774827

In [187]:
#Calculate the average reading score
avg_read = school_data_complete["reading_score"].mean()
avg_read

81.87784018381414

In [188]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_pass = (avg_math + avg_read)/2
overall_pass

80.43160582078121

In [189]:
#Calculate the percentage of students with a passing math score (70 or greater)
math_pass =(school_data_complete["math_score"].astype(float) >=70).sum()

math_percent_pass = (math_pass/total_students)*100

math_percent_pass

74.9808526933878

In [190]:
#Calculate the percentage of students with a passing reading score (70 or greater)
read_pass =(school_data_complete["reading_score"].astype(float) >=70).sum()

read_percent_pass = (read_pass/total_students)*100

read_percent_pass

85.80546336482001

In [191]:
schooldatasummary= pd.DataFrame({"Total Schools" :[school_count], "Total Students": [total_students], "Total Budget": [budget],
                          "Average Math Score":[avg_math],"Average Reading Score": [avg_read], 
                           "% Math Passing":[math_percent_pass],"% Passing Reading": [read_percent_pass],
                           "% Overall Passing Rate":[overall_pass]})
                         
schooldatasummary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Math Passing,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [192]:
#Sort and display the top five schools in overall passing rate

#top_five =top_five.reset_index(inplace=True)

In [193]:
school_name = school_data_complete["school_name"].unique()
school_name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [194]:
school_type = school_data_complete.set_index(["school_name"])["type"]

school_type.head(3)

school_name
Huang High School    District
Huang High School    District
Huang High School    District
Name: type, dtype: object

In [195]:
student_count= school_data_complete["school_name"].value_counts()
student_count.head(2)

Bailey High School     4976
Johnson High School    4761
Name: school_name, dtype: int64

In [196]:
school_budget_total= school_data_complete.groupby(["school_name"]).mean()["budget"]
school_budget_total.head(2)

school_name
Bailey High School     3124928.0
Cabrera High School    1081356.0
Name: budget, dtype: float64

In [197]:
per_student_budget = (school_budget_total/student_count)
per_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [198]:
school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [199]:
school_read = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
school_read

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [200]:
overall_school_pass = (school_math + school_read)/2
overall_school_pass

school_name
Bailey High School       79.041198
Cabrera High School      83.518837
Figueroa High School     78.934893
Ford High School         78.924425
Griffin High School      83.584128
Hernandez High School    79.112082
Holden High School       83.809133
Huang High School        78.906068
Johnson High School      79.019429
Pena High School         83.942308
Rodriguez High School    78.793698
Shelton High School      83.542589
Thomas High School       83.633639
Wilson High School       83.631844
Wright High School       83.818611
dtype: float64

In [201]:
#school_percent_math_pass = school_data_complete.groupby(["reading_score"]) >=70
passing_math = school_data_complete[school_data_complete["math_score"]>=70]
total = school_data_complete.groupby(["school_name"]).count()["student_name"]
passing_math.groupby(["school_name"]).count()
perc_math = passing_math.groupby(["school_name"]).count()["student_name"] / school_data_complete.groupby(["school_name"]).count()["student_name"]*100
perc_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: student_name, dtype: float64

In [202]:
passing_math = school_data_complete[school_data_complete["reading_score"]>=70]
total = school_data_complete.groupby(["school_name"]).count()["student_name"]
passing_math.groupby(["school_name"]).count()
perc_reading = passing_math.groupby(["school_name"]).count()["student_name"] / school_data_complete.groupby(["school_name"]).count()["student_name"]*100
perc_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: student_name, dtype: float64

In [203]:
new_school_summary = pd.DataFrame({"School Type" :[school_type], "Total Students": [student_count], 
                                   "Total School Budget": [school_budget_total], "Per Student Budget": [per_student_budget],
                                  "Average Math Score":[school_math], "Average Reading Score":[school_read],
                                  "% Math Passing" : [perc_math], "% Reading Passing": [perc_reading], "% Overall Passing Rate":[overall_school_pass],
                                  })
new_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Math Passing,% Reading Passing,% Overall Passing Rate
0,school_name Huang High School District Hua...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928.0...,Bailey High School 628.0 Cabrera High Sc...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 79.041198...

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [1]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [309]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.